@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
       
        .lin {
            border-top: 2px solid #333;
        }

        .mt-4 {
            margin-top: 1.5rem !important;
        }

        .transparent-bg {
            background-color: rgba(255, 255, 255, 0.7); 
            padding: 15px;
            border-radius: 10px;
        }
    </style>
</head>
<body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-6">
                
            </div>
            <div class="col-md-6 transparent-bg">
                <h2>Bienvenue chez Plancher Expert</h2>
                <p>
                    Plancher Expert s'engage à être bien plus qu'un fournisseur de revêtements de sol. Nous sommes votre partenaire dévoué pour des solutions de revêtement de sol exceptionnelles. Notre mission est de vous offrir bien plus qu'une simple sélection de couvre-planchers; nous proposons une expérience complète, centrée sur la qualité et la satisfaction de nos clients.
                </p>
                <hr class="lin">
                <p>
                    Chez Plancher Expert, nous comprenons que chaque projet est unique, c'est pourquoi nous mettons à votre disposition une variété de couvre-planchers de haute qualité. Que vous recherchiez l'élégance du bois franc, le confort du tapis, la praticité du plancher flottant, ou la durabilité de la céramique, notre gamme de produits est conçue pour répondre à tous vos besoins.
                </p>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-6 transparent-bg">
                <h2>Notre Entreprise</h2>
                <p>
                    Plancher Expert est leader dans l'industrie des revêtements de sol. Avec notre engagement envers la qualité et le service client, nous sommes fiers de proposer des solutions sur mesure pour chaque projet.
                </p>
            </div>

            <div class="col-md-6 transparent-bg">
                <h2>Nos Services</h2>
                <p>
                    Nos services comprennent la consultation personnalisée, la sélection de matériaux de première qualité, et une équipe d'installateurs qualifiés assurant une mise en œuvre impeccable.
                </p>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</body>
</html>
