@page
@model PrivacyModel
@{
    ViewData["Title"] = "Politique de Confidentialité";
}

<div class="container mt-5" style="background-color: rgba(255, 255, 255, 0.8); box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); border-radius: 10px; padding: 20px; margin-top: 20px;">
    <div class="text-center">
        <h1 class="display-4">Politique de Confidentialité</h1>
        <p class="lead">Merci de visiter le site de Plancher Expert. Nous accordons une grande importance à la confidentialité de nos visiteurs.</p>
    </div>

    <div class="mt-4">
        <h2>Collecte d'Informations</h2>
        <p>Nous collectons des informations personnelles de manière volontaire, notamment lorsque vous remplissez des formulaires sur notre site. Les informations collectées peuvent inclure votre nom, votre adresse e-mail et d'autres détails nécessaires à votre demande.</p>
    </div>

    <!-- ... Other sections follow the same structure as 'About' page ... -->

    <div class="text-center mt-4">
        <p class="lead">Merci de faire confiance à Plancher Expert pour respecter votre vie privée!</p>
    </div>
</div>
