@page
@model TP3__ASP.NET.Pages.utilisateur.RegisterModel
@{
    ViewData["Title"] = "Inscription";
}

<br />
<h2 class="text-center">Inscription</h2>
<hr />

@if (Model.msgError != "")
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <small>@Model.msgError</small>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"> </button>
    </div>
}

<form method="post" class="border rounded p-4">
    <div class="form-row mb-4 d-flex flex-row">
        <div class="form-group col-md-6 m-1">
            <label for="firstName">Nom </label>
            <input class="form-control" type="text" id="firstName" name="firstName" />
        </div>
        <div class="form-group col-md-6 m-1">
            <label for="lastName">Prenom </label>
            <input class="form-control" type="text" id="lastName" name="lastName" />
        </div>
    </div>
    <div class="form-row mb-4 d-flex flex-row">
        <div class="form-group col-md-8 m-1">
            <label class="form-label" for="email">Adresse electronique</label>
            <input class="form-control" type="email" id="email" name="email" />
        </div>
        <div class="form-group col-md-4 m-1">
            <label class="form-label" for="pw">Mot de passe </label>
            <input class="form-control" type="password" id="pw" name="pw" />
        </div>
    </div>
    <div class="form-row text-center">
        <button type="submit" class="col-md-10 btn btn-primary btn-block m-1">
            S'inscrire
        </button>
    </div>
</form>